@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  user-select: none;
}

.piece-1 {
  object-position: 0% 0%;
}

.piece-2 {
  object-position: 50% 0%;
}

.piece-3 {
  object-position: 100% 0%;
}

.piece-4 {
  object-position: 0% 50%;
}

.piece-5 {
  object-position: 50% 50%;
}

.piece-6 {
  object-position: 100% 50%;
}

.piece-7 {
  object-position: 0% 100%;
}

.piece-8 {
  object-position: 50% 100%;
}

.piece-9 {
  object-position: 100% 100%;
}
